{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="{% static 'css/ex.css'%}">
    <link rel="stylesheet" href="{%static 'css1/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>
   
    
    <form action="bio" autocomplete="off" class="main">
        
        {% csrf_token %}
        <label for="first_name" class="pad">FIRST NAME:</label>
        <input id="FirstName" type="text" name="first_name" placeholder="first name"><br><br>

        <label for="last_name" class="pad">LAST NAME:</label>
        <input id="last_name" type="text" name="last_name" placeholder="last Name"><br><br>

        <label for="user_name" class="pad">User Name:</label>
        <input type="text" id="user_name" name="user_name" placeholder="User Name"><br><br>

        <label for="password" class="pad">Password:</label>
        <input type="password" name="password" id="password" placeholder="password"><br><br>

        <label for="mobile" class="pad">Mobile No:</label>
        <input id="mobile" type="number" name="mobile" placeholder="Phone number"><br><br>
        
        <input type="submit" value="OK" id="bu">
    </form>

</body>
</html>