{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaBox</title>
    <link rel="stylesheet" href="{%static 'css/b.css' %}">
</head>
<body>
    <h1 class="main">This is a paragraph inside the border</h1>

    <div class="a">
        <div class="b"></div>
        <div class="b1"></div>
        <div class="c"></div>
        <div class="c1"></div>
        <div class="c2"></div>
    </div>
    
</body>
</html>